# Ignore data files
/Data/*
!/Data/country_code_to_name.csv
!/Data/countries-languages.csv
!/Data/zip/
/Data/zip/*

# Ignore all tsv derived output
/Queries/Movie_TV-DML/*
/Queries/Anime-DML/*
!/Queries/Anime-DML/AnimeDML.sql
/Queries/Person-DML/*
/Queries/AKAs-DML/*

# Ignore pycache
**/__pycache__/